.source-list {
  width: 440px;
  max-height: 700px;
  overflow: scroll;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-x: hidden;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  margin: 10px;
  border-radius: 10px;
  background-color: white;
}

.single-source {
  width: 80%;
  border-top: 1px solid white;
  border-bottom: 1px solid gray;
  margin: 3px;
  border-radius: 10px;
  color: #2f576b;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  background: linear-gradient(to right, rgb(240, 240, 240), rgb(241, 246, 248));
}

.single-source:hover {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);

  color: #429ecc;
}

.single-source:active {
  border: 1px solid #7cb7d4;
}

.source-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.header {
  display: flex;
  flex-flow: row;
  width: 90%;
  justify-content: space-around;
}

.header h2 {
  font-weight: 800;
  letter-spacing: 1px;
}

.head {
  width: 50%;
  border: 1px solid rgb(214, 214, 214);
  margin: 5px;
  cursor: pointer;
}

.active {
  background: #3bb6f3;
  color: white;
}

.fav-button {
  color: rgb(160, 156, 156);
  position: relative;
}

.fav-btn-active {
  color: rgb(207, 91, 101);
}

.outer-btn {
  background: transparent;
  border: none;
  outline: none;
}



@media(max-width: 900px) {
  .source-list {
    margin: auto;
  }
}